<html>
<head>

    <title>Home Page</title>

</head>
<body>
    <h1 style="color:purple">Welcome to Portable Note</h1>
    <h1 style="color:pink">A cloud note saver that will relieve you from loss and easy for use.</h1>
    <div>
        <p style="font-size:150%;"><strong>For customer Service contact: dghaily725@gmail.com and send feedback we will love to see them and improve !!!</strong></p>
    </div>
    <div>
        <p style="font-size:150%;">Head to <a style="color:blue" href="{% url 'main:listnotes'%}">View Notes</a> to view you notes or lets  <a href="{%url 'main:create' %}">create</a> one</p>
        <p style="font-size:150%;">Press here if  there are notes to be <a style="color:blue" href="{%url 'main:deletenote'%}">deleted</a></p>
    </div>

</body>



</html>